---
import { getI18N } from "../i18n/";
import Gallery from "../components/Gallery.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
        class="grid min-h-[100px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible backdrop-blur-2xl"
    >
        <figure class="relative w-full ">
            <div
                class="grid absolute w-full h-full rounded-lg justify-center items-center text-5xl sm:text-9xl uppercase"
            >
                <p
                    class=" bg-gradient-to-r from-blue-900 to-purple-900 text-transparent bg-clip-text hover:bg-gradient-to-r hover:from-LPSColor hover:to-red-500 hover:text-transparent hover:bg-clip-text hover:drop-shadow-sm texto-animado font-semibold tracking-widest"
                >
                    {i18n?.BENTO_1_TITLE}
                </p>
            </div>
            <img
                class="object-cover w-full h-full rounded-xl shadow-lg shadow-blue-gray-900/50 bg-no-repeat bg-bottom max-h-[600px] bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80 "
                src="/Ferroscan2.webp"
                alt="Ferroscan women"
            />
            <style>
                @keyframes typing {
                    from {
                        width: 0;
                    }
                    to {
                        width: 100%;
                    }
                }

                .texto-animado {
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    animation: typing 3s steps(200, end) forwards;
                    font-family: 'Courier New', Courier, monospace;
                }
            </style>

            <figcaption
                class="absolute bottom-8 left-2/4 sm:flex w-[calc(100%-4rem)] -translate-x-2/4 -translate-y-0 justify-between rounded-xl border border-white bg-white/75 py-10 px-10 shadow-lg shadow-black/5 saturate-200 backdrop-blur-sm items-center hidden"
            >
                <div>
                    <p class="block font-sans">
                        {i18n?.BENTO_1_SUBTITLE}
                    </p>
                </div>
            </figcaption>
        </figure>
    </div>