---
import LogoLPS from "./LogoLPS.astro"
---

<div class="w-full relative bg-white">
    <img
        class="absolute top-10 z-10 blur-none w-[1000px] left-0 right-0 m-auto"
        alt="Logo LPS Ingenieria Estructural"
        src="./LogoLPS.svg"
    />
    <video
        class="w-full h-screen object-cover object-top blur-lg z-0"
        src="/video.mp4"
        autoplay
        loop
        muted
    ></video>
</div>
