---
import LogoLPS from "./LogoLPS.astro"
import './styles.css'
---

<div class="w-full h-96 sm:h-screen relative bg-white">    
    <div class="absolute z-10 text-5xl text-LPSColor flex justify-center items-center w-full h-full">
        <p class="text-center">EXPERTOS EN CALCULO ESTRUCTURAL</p>
    </div>
    <div class="absolute z-10 text-xl text-LPSColor flex items-center w-full h-full pt-[300px] grid-cols-2 justify-center">
        <button class="custom-btn btn-6">Im a buttom</button>
        <button class="custom-btn btn-6">Im a buttom</button>
    </div>
    <video
        class="w-full h-screen object-cover object-top blur-lg z-0"
        src="../Public/video.mp4"
        autoplay
        loop
        muted
    ></video>
</div>

