---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import { getI18N } from "../i18n/"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{i18n?.SEO_TITLE}</title>
		<meta name="description" content={i18n?.SEO_DESCRIPTION}>
		<script
			type="text/javascript"
			src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"
		></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Courier New', Courier, monospace;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Courier New,
			monospace;
	}
	body {
		background-image: url(https://images.unsplash.com/photo-1581093806997-124204d9fa9d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
		background-attachment: fixed;
	}
	.background-footer{
		background-image: url(https://images.unsplash.com/photo-1630298465577-3924a8b0e110?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
		background-attachment: fixed;
	}
	#header-nav{
		animation:blur linear both;
		animation-timeline: scroll();
		animation-range: 0 500px;
	}
	@keyframes blur {
		to{
			box-shadow: 
				0px 5px 50px -5px hsla(0, 0%, 100%, 0.1),
				0px 0px 0px 1px hsla(0, 0%, 100%, 0.3);
				background: black;
				backdrop-filter:blur(10px);
		}
	}
</style>
